<h2>이 카드 [판도]다!
  <clr-tooltip>
    <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
      <span>80점을 평가한 카드 중 가장 크게 틀린 카드입니다.</span>
    </clr-tooltip-content>
  </clr-tooltip>
</h2>
<div class="row">
  <div *ngFor="let item of positiveErrors; let isFirst = first;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card-frame">
      <app-card-frame [card]="item"></app-card-frame>
    </div>
  </div>
</div>
<h2>대표적인 함정 카드입니다.
  <clr-tooltip>
    <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
      <span>20점을 평가한 카드 중 가장 크게 틀린 카드입니다.</span>
    </clr-tooltip-content>
  </clr-tooltip>
</h2>
<div class="row">
  <div *ngFor="let item of negativeErrors; let isFirst = first;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card-frame">
      <app-card-frame [card]="item"></app-card-frame>
    </div>
  </div>
</div>