<div class="row">
    <div class="col-sm-4">
        <div class="card light-blue">
            <div class="card-header">
                범용성 | 평균
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.value.mean">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card light-blue">
            <div class="card-header">
                범용성 | 편차
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.value.stdev">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card blue">
            <div class="card-header">
                승률
                <clr-tooltip>
                    <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                        <span>Provider: HSReplay.net</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.hsreplay.winRate">
                    </span>%
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card orange">
            <div class="card-header">
                포텐셜 | 평균
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.potential.mean">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card orange">
            <div class="card-header">
                포텐셜 | 편차
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.potential.stdev">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card blue">
            <div class="card-header">
                채용률 | 전 직업
                <clr-tooltip>
                    <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                        <span>Provider: HSReplay.net</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.hsreplay.popularity">
                    </span>%
                </div>
            </div>
        </div>
    </div>
</div>