<h1>
  {{(data | async).name}}의 판결 요약
  <span [routerLink]="['../', 'cards']" class="label label-light-blue clickable">
    자세히 보기
  </span>
</h1>
<app-judge-view-summary-numbers [judgeInfo]="data | async" [cardList]="cardList | async"></app-judge-view-summary-numbers>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2>범용성</h2>
    <div class="stat-chart">
      <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="valueStats | async"></ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2>포텐셜</h2>
    <div class="stat-chart">
      <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="potentialStats | async"></ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  </div>
</div>
<app-judge-view-summary-cards [cardList]="cardList | async"></app-judge-view-summary-cards>