.card-img {
  text-align: center;
  padding-top: 24px;
  img {
    display: block;
    width: auto;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 544px) {
      height: 240px;
    }
  }
  .card-nav {
    margin-left: 12px;
  }
  .disabled {
    color: #cccccc;
  }
  .clickable {
    cursor: pointer;
  }
}
