<h2>
    기타 정보
</h2>
<div class="row">
    <div class="col-sm-3">
        <div class="card blue">
            <div class="card-header">
                평가 횟수
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{ stat.judgeTotal }}회
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card blue">
            <div class="card-header">
                평균 설명 길이
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{ stat.descriptionAverage | number:'1.2-2' }}자
                </div>
            </div>
        </div>
    </div>
</div>