<h2>
  유저 평가
  <button (click)="onRefresh()" type="button" class="btn btn-icon">
    <clr-icon shape="refresh"></clr-icon>
  </button>
</h2>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        범용성을 높게 평가한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.maxValueJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.maxValueJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.maxValueJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.maxValueJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.maxValueJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        범용성을 낮게 평가한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.minValueJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.minValueJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.minValueJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.minValueJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.minValueJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        포텐셜을 높게 평가한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.maxPotentialJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.maxPotentialJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.maxPotentialJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.maxPotentialJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.maxPotentialJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        포텐셜을 낮게 평가한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.minPotentialJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.minPotentialJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.minPotentialJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.minPotentialJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.minPotentialJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        가장 가깝게 예상한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.mostAccurateJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.mostAccurateJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.mostAccurateJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.mostAccurateJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.mostAccurateJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        가장 틀리게 예상한 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.mostWrongJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.mostWrongJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.mostWrongJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.mostWrongJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.mostWrongJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        할 말이 많은 머법관
      </div>
      <div class="card-block">
        <div class="card-title">{{ comments?.longestJudge.upload.name }}</div>
        <div class="card-text">
          {{ comments?.longestJudge.description }}
          <div>
            <span class="label label-light-blue">
              범용성
              <span class="badge">{{comments?.longestJudge.value}}</span>
            </span>
            <span class="label label-orange">
              포텐셜
              <span class="badge">{{comments?.longestJudge.potential}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'view', comments?.longestJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
</div>