<h1>전체 판결 보기
  <span [routerLink]="['../']" class="label label-light-blue clickable">
    주요 판결 보기
  </span>
</h1>
<!-- <form [formGroup]="formGroup">
  <section class="form-block">
    <div class="form-group">
      <label>머법관명</label>
      <input formControlName="name" type="text">
    </div>
  </section>
</form> -->
<clr-datagrid class="card-list">
  <clr-dg-column clrDgField="name">닉네임</clr-dg-column>
  <clr-dg-column>판결 개수</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="scoreComparator">적중률</clr-dg-column>
  <clr-dg-column [clrDgSortOrder]="rankOrder" [clrDgSortBy]="rankComparator">순위</clr-dg-column>

  <clr-dg-row (click)="onClick(item)" class="card-row" *clrDgItems="let item of list | async">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.judgeCount}}</clr-dg-cell>
    <clr-dg-cell>{{item.score | number:'1.2-2'}}</clr-dg-cell>
    <clr-dg-cell>{{item.rank}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
