<h1>업데이트 내역</h1>
<ul class="list list-spacer">
  <li>2017-12-25
    <ul class="list">
      <li>새로운 통계 UI가 추가되었습니다.</li>
    </ul>
  </li>
  <li>2017-12-24
    <ul class="list">
      <li>랭킹 기능이 추가되었습니다.</li>
      <li>대규모의 최적화가 적용되었습니다.</li>
    </ul>
  </li>
  <li>2017-12-17
    <ul class="list">
      <li>댓글 기능을 비활성화했습니다.</li>
      <li>hsreplay.net의 데이터를 통해 범용성, 포텐셜 정보를 제공합니다.</li>
      <li>머법관별 적중률 및 순위 기능이 추가되었습니다.</li>
      <li>새로운 판결 보기 UI가 제공됩니다.</li>
      <li>페이지를 이동할 때 스크롤이 맨 위로 고정됩니다.</li>
    </ul>
  </li>
  <li>2017-12-12
    <ul class="list">
      <li>hsreplay.net과 연동해 승률 통계가 제공됩니다.</li>
      <li>페이스북 댓글 기능이 추가되었습니다.</li>
      <li>카드 index가 [1, n]이 아닌 [0, n-1]로 표기되는 현상이 수정되었습니다.</li>
    </ul>
  </li>
  <li>2017-12-11
    <ul class="list">
      <li>모바일 지원이 개선되었습니다.</li>
      <li>범용성, 포텐셜 그래프가 막대 그래프로 변경되었습니다.</li>
      <li>통계 요약에서 필터를 설정할 수 있습니다.</li>
      <li>정보 탭에서 개발자에게 이메일을 보낼 수 있습니다.</li>
    </ul>
  </li>
  <li>2017-12-10
    <ul class="list">
      <li>통계 기능이 추가되었습니다.</li>
      <li>주요 판결 보기 기능이 더 빠르게 동작합니다.</li>
      <li>클릭 가능한 버튼에 커서가 바뀌지 않는 현상이 수정되었습니다.</li>
    </ul>
  </li>
  <li>2017-12-08
    <ul class="list">
      <li>주요 판결 보기 기능이 추가되었습니다.</li>
      <li>판결 요약에서 같은 점수라면, 더 긴 설명을 가진 카드를 우선합니다.</li>
      <li>판결 요약에 보이는 카드가 매번 바뀌는 현상을 수정했습니다.</li>
    </ul>
  </li>
  <li>2017-12-07
    <ul class="list">
      <li>판결 요약 기능이 추가되었습니다.</li>
      <li>더이상 개별 카드 보기에서 새로고침을 해도 목록으로 이동하지 않습니다.</li>
    </ul>
  </li>
  <li>2017-12-06
    <ul class="list">
      <li>새로운 판결 보기 UI가 적용되었습니다.</li>
      <li>소셜 공유 기능이 추가되었습니다.</li>
      <li>코볼트 사서의 코스트가 올바르게 표기됩니다.</li>
      <li>영문 버전으로 표시되던 이리 와라!의 이미지가 정상적으로 표시됩니다.</li>
      <li>정보 탭이 추가되었습니다.</li>
    </ul>
  </li>
  <li>2017-12-05
    <ul class="list">
      <li>다수의 코스트 표기와 이미지 링크 오류가 수정되었습니다.</li>
      <li>판결 내역 조회에서 점수가 리스트에 표시됩니다.</li>
      <li>페이지가 새로고침 되어도 작성중인 판결이 유지됩니다.</li>
      <li>닉네임으로 검색하는 기능이 추가되었습니다.</li>
    </ul>
  </li>
</ul>