<h1>카드 목록</h1>
<form [formGroup]="formGroup">
  <section class="form-block">
    <div class="form-group row">
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label for="class">직업</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="class" id="class">
            <option value="ALL">모두</option>
            <option *ngFor="let _class of classFilter | async" [value]="_class">{{ _class | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label for="cost">코스트</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="cost" id="cost">
            <option value="ALL">모두</option>
            <option *ngFor="let cost of costFilter | async" [value]="cost">{{ cost }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label for="rarity">레어도</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="rarity" id="rarity">
            <option value="ALL">모두</option>
            <option *ngFor="let rarity of rarityFilter | async" [value]="rarity">{{ rarity | translate }}</option>
          </select>
        </div>
      </div>
    </div>
  </section>
</form>
<clr-datagrid class="card-list">
  <clr-dg-column>이름</clr-dg-column>
  <clr-dg-column>직업</clr-dg-column>
  <clr-dg-column>코스트</clr-dg-column>
  <clr-dg-column>레어도</clr-dg-column>

  <clr-dg-row [class.card-judged]="item.judge" (click)="onClick(item)" class="card-row" *clrDgItems="let item of list | async">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.class | translate}}</clr-dg-cell>
    <clr-dg-cell>{{item.cost}}</clr-dg-cell>
    <clr-dg-cell>{{item.rarity | translate}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} cards
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
