<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <img [src]="card.imgLink">
  </div>
  <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="card light-blue">
          <div class="card-header">
            범용성 | 유저
          </div>
          <div class="card-block">
            <div class="card-text">
              {{ judge.value }}점
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="card light-blue">
          <div class="card-header">
            범용성 | 통계
          </div>
          <div class="card-block">
            <div class="card-text">
              <span *ngIf="hsreplay.value !== '20'">{{ hsreplay.value | number: '1.2-2' }}점</span>
              <span style="font-size: 18px;" *ngIf="hsreplay.value === '20'">Out of Meta</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="card orange">
          <div class="card-header">
            포텐셜 | 유저
          </div>
          <div class="card-block">
            <div class="card-text">
              {{ judge.potential }}점
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="card orange">
          <div class="card-header">
            포텐셜 | 통계
          </div>
          <div class="card-block">
            <div class="card-text">
              <span *ngIf="hsreplay.potential !== '20'">{{ hsreplay.potential | number: '1.2-2' }}점</span>
              <span style="font-size: 18px;" *ngIf="hsreplay.potential === '20'">Out of Meta</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card description blue">
          <div class="card-header">
            추가 설명
          </div>
          <div class="card-block">
            <div class="card-text">
                <span *ngIf="judge.description">{{ judge.description }}</span>
                <span *ngIf="!judge.description">추가 설명이 없습니다.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>