<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" [routerLink]="['/home']" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Oriental Salad</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
        <a class="nav-link" href="#" [routerLink]="['/manual']" routerLinkActive="active"><span class="nav-text">설명서</span></a>
        <a class="nav-link" href="#" [routerLink]="['/find']" routerLinkActive="active"><span class="nav-text">랭킹</span></a>
        <a class="nav-link" href="#" [routerLink]="['/stats']" routerLinkActive="active"><span class="nav-text">통계</span></a>
        <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">정보</span></a>
        <a class="nav-link" href="#" [routerLink]="['/changelog']" routerLinkActive="active"><span class="nav-text">업데이트 내역</span></a>
      </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container">
    <div #content class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
