<h1>주요 판결 보기
  <span [routerLink]="['./', 'name']" class="label label-light-blue clickable">
    이름으로 검색하기
  </span>
</h1>
<h4>총 {{ stats?.uploadCount }}명의 머법관이 {{ stats?.judgeCount }}개의 판결을 내렸습니다.</h4>
<div class="row">
  <div *ngFor="let item of stats?.longestDescriptions" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최고의 설명충
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>추가 설명의 길이가 긴 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.length }}자
        </div>
        <div class="card-text">
          <button [routerLink]="['../', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stats?.highestValues" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        긍정적 사고
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 범용성이 높은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['../', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stats?.lowestValues" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        안될거야 아마
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 범용성이 낮은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['../', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stats?.highestPotentials" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        아모른직다
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 포텐셜이 높은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['../', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stats?.lowestPotentials" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        난 알거 같은데
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 포텐셜이 낮은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['../', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
</div>