<h1>{{name | async}}의 판결</h1>
<section class="card-img">
  <div class="row">
    <div class="col-sm-4 left-angle">
      <clr-icon *ngIf="cardPrev" shape="angle" dir="left" size="72" (click)="prev()"></clr-icon>
    </div>
    <div class="col-sm-4">
      <img [src]="card.imgLink">
    </div>
    <div class="col-sm-4 right-angle">
      <clr-icon *ngIf="cardNext" shape="angle" dir="right" size="72" (click)="next()"></clr-icon>
    </div>
  </div>
</section>
<section class="judge-form">
  <form>
    <section class="form-block">
      <label>판결문</label>
      <div class="form-group">
        <label>범용성</label>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 20" value="20" id="v20">
          <label for="v20">20 (오물)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 30" value="30" id="v30">
          <label for="v30">30 (폐급)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 40" value="40" id="v40">
          <label for="v40">40 (함정)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 50" value="50" id="v50">
          <label for="v50">50 (평범)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 60" value="60" id="v60">
          <label for="v60">60 (훌륭)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 70" value="70" id="v70">
          <label for="v70">70 (강력)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 80" value="80" id="v80">
          <label for="v80">80 (판도)</label>
        </div>
      </div>
      <div class="form-group">
        <label>포텐셜</label>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 20" value="20" id="p20">
          <label for="p20">20 (오물)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 30" value="30" id="p30">
          <label for="p30">30 (폐급)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 40" value="40" id="p40">
          <label for="p40">40 (함정)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 50" value="50" id="p50">
          <label for="p50">50 (평범)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 60" value="60" id="p60">
          <label for="p60">60 (훌륭)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 70" value="70" id="p70">
          <label for="p70">70 (강력)</label>
        </div>
        <div class="radio-inline">
          <input disabled type="radio" [checked]="judge.value === 80" value="80" id="p80">
          <label for="p80">80 (판도)</label>
        </div>
      </div>
      <div class="form-group">
        <label for="description">추가 설명</label>
        <textarea disabled style="opacity: 1;" [value]="judge.description" id="description" rows="5"></textarea>
      </div>
      <button [routerLink]="['../']" class="btn btn-outline">목록 보기</button>
    </section>
  </form>
</section>