<h1>{{(data | async).name}}의 판결
  <span [routerLink]="['../']" class="label label-light-blue clickable">
    목록 보기
  </span>
</h1>
<div class="card-img">
  <img [src]="card.imgLink">
  <div class="card-nav">
    <span (click)="prev()">
      <clr-icon [class.disabled]="!cardPrev" shape="angle" dir="left" size="36"></clr-icon>
    </span>
    {{ info.index + 1 }} / {{ info.total }}
    <span (click)="next()">
      <clr-icon [class.disabled]="!cardNext" shape="angle" dir="right" size="36"></clr-icon>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card light-blue">
      <div class="card-header">
        범용성
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countTo]="card.judge.value">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card orange">
      <div class="card-header">
        포텐셜
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countTo]="card.judge.potential">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card blue">
      <div class="card-header">
        적중 점수
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>모든 카드의 적중 점수의 평균이 머법관의 적중률이 됩니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countDecimals]="2" [countTo]="matchRate">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card description blue">
      <div class="card-header">
        추가 설명
      </div>
      <div class="card-block">
        <div class="card-text">
          <span *ngIf="card.judge.description">{{ card.judge.description }}</span>
          <span *ngIf="!card.judge.description">추가 설명이 없습니다.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>통계와 비교
  <span [routerLink]="['/', 'stats', card.code]" class="label label-light-blue clickable">
    통계에서 보기
  </span>
</h2>
<div class="row">
  <div class="col-sm-3">
    <div class="card light-blue">
      <div class="card-header">
        범용성 | 평균
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.value.mean">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card orange">
      <div class="card-header">
        포텐셜 | 평균
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.potential.mean">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card light-blue">
      <div class="card-header">
        범용성 | HSReplay.net
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.hsreplay.value">
          </span>점
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card orange">
      <div class="card-header">
        포텐셜 | HSReplay.net
      </div>
      <div class="card-block">
        <div class="card-text">
          <span ngx-charts-count-up [countDecimals]="2" [countTo]="card.stats.hsreplay.potential">
          </span>점
        </div>
      </div>
    </div>
  </div>
</div>