.yoshi-wrapper {
  position: relative;
  height: 36px;
  margin-top: 12px;
}

.yoshi-main-axis {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #888;
}

.yoshi-end {
  position: absolute;
  top: -7px;
  width: 2px;
  height: 16px;
  background: #888;
  &.right {
    left: 100%;
  }
}

.yoshi-bubble {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  top: -7px;
  width: 16px;
  height: 16px;
  text-align: center;
  transition: all 500ms ease-out;
  &.mean {
    background: #00bfa9;
  }
  &.hsreplay {
    background: #6870c4;
  }
}

.yoshi-tick {
  position: absolute;
  top: -3px;
  width: 2px;
  height: 8px;
  background: #888;
}

.yoshi-iqtick {
  position: absolute;
  top: -7px;
  width: 2px;
  height: 16px;
  background: black;
  transition: all 500ms ease-out;
}

.yoshi-num {
  text-align: center;
  position: absolute;
  transition: all 500ms ease-out;
  top: 8px;
}

.yoshi-iqrange {
  position: absolute;
  height: 2px;
  background: black;
  transition: all 500ms ease-out;
}
