.card-img {
  text-align: center;
  padding-top: 24px;
  img {
    display: block;
    width: auto;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-nav {
    margin-left: 12px;
  }
  .disabled {
    color: #cccccc;
  }
}

.stat-chart {
  height: 198px;
}

.stat-summary {
  margin-top: 48px;
}
