<h1>카드 통계
    <span [routerLink]="['../', 'list']" class="label label-light-blue clickable">
        목록 보기
    </span>
</h1>
<div class="row">
    <div class="col-sm-4 card-img">
        <img [src]="(card | async).imgLink">
        <div class="card-nav">
            <span (click)="prev()">
                <clr-icon [class.disabled]="!(cardPrev | async)" shape="angle" dir="left" size="36"></clr-icon>
            </span>
            {{ (info | async).index + 1 }} / {{ (info | async).total }}
            <span (click)="next()">
                <clr-icon [class.disabled]="!(cardNext | async)" shape="angle" dir="right" size="36"></clr-icon>
            </span>
        </div>
    </div>
    <div class="col-sm-8 stat-summary">
        <app-stats-detail-numbers [card]="card | async"></app-stats-detail-numbers>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>범용성</h2>
        <div class="stat-chart">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="valueStats | async"></ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>포텐셜</h2>
        <div class="stat-chart">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="potentialStats | async"></ngx-charts-bar-vertical>
        </div>
    </div>
</div>
<app-stats-detail-hsreplay [hsreplay]="(card | async).stats.hsreplay"></app-stats-detail-hsreplay>
<app-stats-detail-users (refresh)="refresh()" [statsDetail]="statsDetail | async"></app-stats-detail-users>