.card-img {
  text-align: center;
  padding-top: 24px;
  img {
    display: block;
    width: auto;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-nav {
    margin-left: 12px;
  }
  .disabled {
    color: #CCCCCC;
  }
}

.stat-chart {
  height: 198px;
}

.stat-summary {
  margin-top: 48px;
  .card {
    border-left: 2px solid #A6D8E7;
  }
  .card-text {
    font-size: 24px;
  }
}