<h1>카드 통계
    <span [routerLink]="['../', 'list']" class="label label-light-blue clickable">
        목록 보기
    </span>
</h1>
<div class="row">
    <div class="col-sm-4 card-img">
        <img [src]="(card | async).imgLink">
        <div class="card-nav">
            <span (click)="prev()">
                <clr-icon [class.disabled]="!(cardPrev | async)" shape="angle" dir="left" size="36"></clr-icon>
            </span>
            {{ (info | async).index + 1 }} / {{ (info | async).total }}
            <span (click)="next()">
                <clr-icon [class.disabled]="!(cardNext | async)" shape="angle" dir="right" size="36"></clr-icon>
            </span>
        </div>
    </div>
    <div class="col-sm-8 stat-summary">
            <app-stats-detail-numbers [card]="card | async"></app-stats-detail-numbers>
    </div>
    <div class="col-sm-6">
        <h2>범용성</h2>
        <div class="stat-chart">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="valueStats | async"></ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>포텐셜</h2>
        <div class="stat-chart">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [results]="potentialStats | async"></ngx-charts-bar-vertical>
        </div>
    </div>
</div>
<h2>
    유저 평가
    <button (click)="refresh()" type="button" class="btn btn-icon">
        <clr-icon shape="refresh"></clr-icon>
    </button>
</h2>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                범용성을 높게 평가한 머법관
            </div>
            <div class="card-block">
                <div class="card-title">{{ (statsDetail | async)?.maxValueJudge.upload.name }}</div>
                <div class="card-text">
                    {{ (statsDetail | async)?.maxValueJudge.description }}
                    <div>
                        <span class="label label-light-blue">
                            범용성
                            <span class="badge">{{(statsDetail | async)?.maxValueJudge.value}}</span>
                        </span>
                        <span class="label label-orange">
                            포텐셜
                            <span class="badge">{{(statsDetail | async)?.maxValueJudge.potential}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/', 'view', (statsDetail | async)?.maxValueJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                범용성을 낮게 평가한 머법관
            </div>
            <div class="card-block">
                <div class="card-title">{{ (statsDetail | async)?.minValueJudge.upload.name }}</div>
                <div class="card-text">
                    {{ (statsDetail | async)?.minValueJudge.description }}
                    <div>
                        <span class="label label-light-blue">
                            범용성
                            <span class="badge">{{(statsDetail | async)?.minValueJudge.value}}</span>
                        </span>
                        <span class="label label-orange">
                            포텐셜
                            <span class="badge">{{(statsDetail | async)?.minValueJudge.potential}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/', 'view', (statsDetail | async)?.minValueJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                포텐셜을 높게 평가한 머법관
            </div>
            <div class="card-block">
                <div class="card-title">{{ (statsDetail | async)?.maxPotentialJudge.upload.name }}</div>
                <div class="card-text">
                    {{ (statsDetail | async)?.maxPotentialJudge.description }}
                    <div>
                        <span class="label label-light-blue">
                            범용성
                            <span class="badge">{{(statsDetail | async)?.maxPotentialJudge.value}}</span>
                        </span>
                        <span class="label label-orange">
                            포텐셜
                            <span class="badge">{{(statsDetail | async)?.maxPotentialJudge.potential}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/', 'view', (statsDetail | async)?.maxPotentialJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                포텐셜을 낮게 평가한 머법관
            </div>
            <div class="card-block">
                <div class="card-title">{{ (statsDetail | async)?.minPotentialJudge.upload.name }}</div>
                <div class="card-text">
                    {{ (statsDetail | async)?.minPotentialJudge.description }}
                    <div>
                        <span class="label label-light-blue">
                            범용성
                            <span class="badge">{{(statsDetail | async)?.minPotentialJudge.value}}</span>
                        </span>
                        <span class="label label-orange">
                            포텐셜
                            <span class="badge">{{(statsDetail | async)?.minPotentialJudge.potential}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/', 'view', (statsDetail | async)?.minPotentialJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                할 말이 많은 머법관
            </div>
            <div class="card-block">
                <div class="card-title">{{ (statsDetail | async)?.longestJudge.upload.name }}</div>
                <div class="card-text">
                    {{ (statsDetail | async)?.longestJudge.description }}
                    <div>
                        <span class="label label-light-blue">
                            범용성
                            <span class="badge">{{(statsDetail | async)?.longestJudge.value}}</span>
                        </span>
                        <span class="label label-orange">
                            포텐셜
                            <span class="badge">{{(statsDetail | async)?.longestJudge.potential}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/', 'view', (statsDetail | async)?.longestJudge.upload.id]" class="btn btn-sm btn-link">보러 가기</button>
            </div>
        </div>
    </div>
</div>
<app-fb-comments></app-fb-comments>