<h1 *ngIf="(list | async).length > 0">다음 {{ (list | async).length }}개의 카드 평가가 등록됩니다</h1>
<h1 *ngIf="(list | async).length === 0">최소 1개의 카드를 평가해야 저장 가능합니다</h1>
<clr-datagrid class="card-list">
  <clr-dg-column>이름</clr-dg-column>
  <clr-dg-column>직업</clr-dg-column>
  <clr-dg-column>코스트</clr-dg-column>
  <clr-dg-column>레어도</clr-dg-column>

  <clr-dg-row [class.card-judged]="item.judge" class="card-row" *clrDgItems="let item of list | async">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.class | translate}}</clr-dg-cell>
    <clr-dg-cell>{{item.cost}}</clr-dg-cell>
    <clr-dg-cell>{{item.rarity | translate}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} cards
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<ng-container *ngIf="(list | async).length > 0">
<form>
  <section class="form-block">
    <div class="form-group">
      <label class="required">머법관명</label>
      <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
  </section>
</form>
<button [attr.disabled]="name ? null : true" (click)="onSubmit()" class="btn btn-primary">저장</button>
</ng-container>
<button [routerLink]="['/', 'judge']" class="btn btn-outline">돌아가기</button>