<h1>카드 통계 요약
  <span [routerLink]="['../', 'list']" class="label label-light-blue clickable">
    전체 카드 보기
  </span>
</h1>
<app-stats-filter></app-stats-filter>
<div class="stat-summary row">
  <div *ngIf="!!(bestValue | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최고의 범용성
        <span class="label label-light-blue">
          평균
          <span class="badge">{{(bestValue | async).stats.value.mean | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(bestValue | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (bestValue | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(worstValue | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최악의 범용성
        <span class="label label-light-blue">
          평균
          <span class="badge">{{(worstValue | async).stats.value.mean | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(worstValue | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (worstValue | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(mostArguedValue | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        의견이 갈리는 범용성
        <span class="label label-orange">
          편차
          <span class="badge">{{(mostArguedValue | async).stats.value.stdev | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(mostArguedValue | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (mostArguedValue | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(bestPotential | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최고의 포텐셜
        <span class="label label-light-blue">
          평균
          <span class="badge">{{(bestPotential | async).stats.potential.mean | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(bestPotential | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (bestPotential | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(worstPotential | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최악의 포텐셜
        <span class="label label-light-blue">
          평균
          <span class="badge">{{(worstPotential | async).stats.potential.mean | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(worstPotential | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (worstPotential | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(mostArguedPotential | async)" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        의견이 갈리는 포텐셜
        <span class="label label-orange">
          편차
          <span class="badge">{{(mostArguedPotential | async).stats.potential.stdev | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(mostArguedPotential | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (mostArguedPotential | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(mostJudged | async)" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        가장 많이 판결된 카드
        <span class="label label-blue">
          판결 횟수
          <span class="badge">{{(mostJudged | async).stats.judgeTotal | number: '1.0-0'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(mostJudged | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (mostJudged | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
  <div *ngIf="!!(longestDescription | async)" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        가장 할 말이 많은 카드
        <span class="label label-purple">
          평균 설명
          <span class="badge">{{(longestDescription | async).stats.descriptionAverage | number: '1.2-2'}}</span>
        </span>
      </div>
      <div class="card-block">
        <img [src]="(longestDescription | async).imgLink" class="best-card-img">
      </div>
      <div class="card-footer">
        <button [routerLink]="['../', (longestDescription | async).code]" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
</div>