<div class="row">
    <div class="col-sm-3">
        <div class="card light-blue">
            <div class="card-header">
                범용성 | 평균
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="meanValue">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card light-blue">
            <div class="card-header">
                범용성 | 편차
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="stdevValue">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card orange">
            <div class="card-header">
                포텐셜 | 평균
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="meanPotential">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card orange">
            <div class="card-header">
                포텐셜 | 편차
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countDecimals]="2" [countTo]="stdevPotential">
                    </span>점
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card blue">
            <div class="card-header">
                판결수
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countTo]="total">
                    </span>개
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card blue">
            <div class="card-header">
                총 설명 길이
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countTo]="descriptionLength">
                    </span>자
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card purple">
            <div class="card-header">
                적중률
                <span class="p7">Beta</span>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span ngx-charts-count-up [countTo]="judgeInfo.score">
                    </span>%
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card purple">
            <div class="card-header">
                순위
                <span class="p7">Beta</span>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <span *ngIf="judgeInfo.rank !== null">
                        #<span ngx-charts-count-up [countTo]="judgeInfo.rank"></span>
                    </span>
                    <span *ngIf="judgeInfo.rank === null">
                        판결수 부족
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>