.yoshi-bubble {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  &.mean {
    background: #00bfa9;
  }
  &.hsreplay {
    background: #6870c4;
  }
}

.legend-wrapper {
  width: 200px;
}