<div class="row">
  <div *ngFor="let item of stat?.bestUploads; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        명판결
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>가장 적중률이 높은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - #{{ item.rank }}
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.worstUploads; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        박-제
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>가장 적중률이 낮은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - #{{ item.rank }}
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.longestDescriptions; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        최고의 설명충
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>추가 설명의 길이가 긴 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.length }}자
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.highestValues; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        긍정적 사고
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 범용성이 높은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.lowestValues; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        안될거야 아마
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 범용성이 낮은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.highestPotentials; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        아모른직다
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 포텐셜이 높은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of stat?.lowestPotentials; let isFirst = first" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        난 알거 같은데
        <clr-tooltip *ngIf="isFirst">
          <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
          <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
            <span>평균 포텐셜이 낮은 판결문입니다.</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ item.name }} - {{ item.average }}점
        </div>
        <div class="card-text">
          <button [routerLink]="['/', 'view', item.id]" class="btn btn-sm btn-link">보러 가기</button>
        </div>
      </div>
    </div>
  </div>
</div>